<button id="floating-cart-button" class="floating-cart-button">
    <div class="shopping-cart-icon">
        <i class="fas fa-shopping-cart"></i>
        <div id="cart-number-of-items" class="cart-number-of-items">
            0
        </div>
    </div>
</button>