<div class="navigation-bar">
    <img src="/public/logos/logo.png"/>
    
    <nav>
        <a href="/" class="nav-link">
            <h4>
                Trang chủ
            </h4>
        </a>
        <a href="/about" class="nav-link">
            <h4>
                Giới thiệu
            </h4>
        </a>
        <a href="/contact" class="nav-link">
            <h4>
                Liên hệ
            </h4>
        </a>
    </nav>

    <button id="show-menu-button">
        <h4>
            <i class="fas fa-bars"></i>
        </h4>
    </button>

    <nav id="nav-board" class="nav-board-hidden">
        <div class="nav-board-entry">
            <a href="/" class="nav-link">
                <h4>
                    Trang chủ
                </h4>
            </a>
        </div>
        <div class="nav-board-entry">
            <a href="/about" class="nav-link">
                <h4>
                    Giới thiệu
                </h4>
            </a>
        </div>
        <div class="nav-board-entry">
            <a href="/contact" class="nav-link">
                <h4>
                    Liên hệ
                </h4>
            </a>
        </div>
    </nav>
</div>