<article class="product-summary-card">
    <figure>
        <img src="<%= avatar.path %>"/>
    </figure>
    <div class="content">
        <strong><%= product.name %></strong>
        <p><%= defaultPrice.defaultPrice %> đ / <%= defaultPrice.unit %></p>
    </div>
</article>