<div class="search-bar-container">
    <div class="search-bar">
        <form class="" action="/search" method="GET">
            <input value="<%= searchTerm %>" type="text" name="phrase" placeholder="Tìm kiếm"></input>
        </form>
    </div>
</div>